* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #ededed;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

#root {
  padding-top: 5em;
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  background-color: #fff;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 430px;
  height: 3em;
  background-color: #040404;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #D3D3D3;
  top: 3em;
  position: fixed;
  width: 100%;
  max-width: 430px;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.navtxt {
  text-decoration: none;
  color: #040404;
}

.title {
  margin: 1em 0;
}

ul {
  padding-inline-start: 32px;
}

li {
  text-align: start;
}
